/* Created 01/21/15

Resources:
vertically centering text: http://stackoverflow.com/questions/9249359/is-it-possible-to-vertically-align-text-within-a-div

TODO:
- Figure out why the cells are overlapping the grid's bottom border
*/

html {
	/* font size in html will affect rem */
	font-size: 1rem;
}

body {
	background-color: antiquewhite;
}

body, table { text-align: center; }

table { line-height: 0px; }

.grid-container {
	/* for tile position absolute */
	position: relative;
	display: block;
	margin: 0 auto; padding: 0;
	width: 16rem;
	border: 0.7rem solid rgb(128, 70, 0);
	border-radius: 0.4rem;
}

.grid-cell {
	display: inline-block;
	width: 4rem;
	height: 4rem;
	box-sizing: border-box;
	/* Same color as grid container */
	border: 0.2rem solid rgb(128, 70, 0);
}

.tile {
	position: absolute;
	width: 4rem;
	height: 4rem;
	left: 0rem;
	top: 0rem;
}

.bool {
	position: absolute;
	box-sizing: border-box;
	width: 4rem; height: 4rem;
	line-height: 3.8rem;  /* for vertical centering of text */
	/*border-radius: 0.4rem;*/ /* Doesn't match the inside of the grid */
	font-size: 1.2rem;
	background-color: lightblue;
	/*border: 0.2rem solid powderblue;*/
	border: 0.2rem solid rgb(128, 70, 0);
}

.truthy {
	/*background-color: palegreen;*/
	/*border-color: lightgreen;*/
}

.falsy {
	/*background-color: tomato;*/
	/*border-color: brown;*/
}

/* Tile id's temporary for testing */
/* Actually, these could give positions? */
#tile_1 {
	left: 0rem; top: 0rem;
}

#tile_2 {
	left: 4rem; top: 0rem;
}

#tile_3 {
	left: 8rem; top: 0rem;
}

#tile_4 {
	left: 12rem; top: 0rem;
}

.node {
	position: absolute;
	width: 1rem; height: 1rem;
	line-height: 1rem;
	font-size: 10px;
	font-weight: bolder;
	background-color: burlywood;
	border-radius: 0.2rem;
}

.node-left {
	left: -0.5rem; top: 1.5rem;
}

.node-right {
	left: 3.5rem; top: 1.5rem;
}

.node-top {
	left: 1.5rem; top: -0.5rem;
}

.node-bottom {
	left: 1.5rem; top: 3.5rem;
}
